/* *{
    padding: 0;
    margin: 0;
} */
fieldset{
    width:500px;
    height: auto;
    margin: 10px auto;
}
legend{
    color: #f00;
    font-weight: bold;
}
/* 控制DIV属性 */
.controlBut{
    width: 90%;
    text-align: center;
}
.controlBut>button{
    margin-left: 5px;
    cursor:pointer;
}
.byControlDiv{
    width:100px;
    height:100px;
    margin:20px auto;
    background-color: #000;
}
.changeStyle{
    width: 90%;
    height:20px;
    line-height: 20px;
    margin:0px auto;
}
.changeStyle>span{
    height: 100%;
    display: inline-block;
  
    vertical-align: top;

}
.changeStyle>ul{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin: 0;
  
}
.changeStyle>ul>li{
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right:10px; 
}
.changeStyle>ul>li:active{
    border:1px solid black;
}
.colorStatus{
    width: 80%;
    height: 30px;
    margin: 20px auto;
}
.checked{
    border:2px solid black;
}
.picturePart{
    width:400px;
    height:440px;
    margin:20px auto;
}
.picturePart>ul{
    list-style: none;
   
}
.picturePart>ul>li{
   float: left;
   width:70px;
   height:70px;
   box-sizing: border-box;
   border: 1px solid #000;
   margin:5px;
}
.picturePart .pic_first{
    width:230px;
    height: 230px;
    border:3px solid #ff0080;
}
.picturePart .pic_first>img{
    width: 80%;
    height: 80%;
    margin:10%;
}
.picturePart>ul>li.img_small{
    cursor: pointer;
    -webkit-filter: opacity(30%);
    filter:opacity(30%);
}
.picturePart>ul>li.img_small>img{
    width:90%;
    height:90%;
    margin: 5%;
   
}
.picturePart>ul>li.activeIMG{
    -webkit-filter: opacity(100%);
    filter:opacity(100%);
    border:3px solid #ff0080;
    border-radius: 3px;
}
